#entry {
    /* position: relative;
    left:0px; */
    height: 4em;
    border-radius: 7px;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    transition: all .7s;
}

#entry:hover {
    /* position: relative; */
    /* width: 140%; */
    height: 20em;
    /* left:-50%; */
    border: solid #FFA800;
    /* background-color: whitesmoke; */
}

#entry:hover .overlay{
    height: 10em;
}

.overlay {
    position: relative;
    bottom: 0;
    height: 0;
    overflow: hidden;
    background-color: #111317;
    transition: .5s ease;
}

.text {
    overflow: hidden;
    color: white;
    font-family: Avenir;
}