#curriculum_item {
    /* position: relative;
    left:0px; */
    height: 4em;
    width: 90%;
    border-radius: 7px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

#curriculum_item:hover {
    /* position: relative; */
    /* width: 140%; */
    height: 20em;
    /* left:-50%; */
    border: solid #FFA800;
    /* background-color: whitesmoke; */
}

#project_item {
    height: 4em;
    width: 90%;
    border-radius: 7px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

#project_item:hover {
    height: 20em;
    border: solid #FFA800;
    /* background-color: whitesmoke; */
}
