#proj_1,
#proj_2,
#proj_3,
#proj_4 {
    height: 100px;
    width: 90%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

#proj_1:hover,
#proj_2:hover,
#proj_3:hover,
#proj_4:hover {
    height: 250px;
    border: solid #FFA800;
    /* background-color: whitesmoke; */
}
