#item_a {
    border: solid #111317;
    border-radius: 0%;
    height: 3em;
    width: 15em;
    text-align: left;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

#item_a:hover {
    border: solid #FFA800;
    border-radius: 4px;
}