.arrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid white;
    border-width: 0 3px 3px 0;
    color: #1B1F25;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.smooth {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    transition-delay: .5s;
}